@media only screen and (max-width: 900px) {
	.container-fluid {
		max-width: 90%;
	}
} 
@media only screen and (max-width: 766px) {
	body {
		font-size: 17px;
	}
	.container-fluid {
		width: 90%;
		margin-top: 8%;
	}
	.box {
		padding: 10%; 
		text-align: justify;
	}
	.first-box {
		border-radius: 0;
	}
	.second-box {
		border-bottom-left-radius: 10px;
	}
	.paragraph {
		padding-bottom: 20px;
	}
}